<body style="background-color: powderblue;">
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            Add Review!
        </p>
    </h1>
    <body>
        <a href="addReview">Add Review</a>
    </body>
    
    
    
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            View Reviews of a movie!
        </p>
    </h1>
    <body>
        <a href="viewReviews">View Reviews</a>
    </body>
    
    
    
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            Show all Movies of Cast!
        </p>
    </h1>
    <body>
        <a href="castMovies">Cast Movies</a>
    </body>
    
    
    
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            Show Movies of specific genre!
        </p>
    </h1>
    <body>
        <a href="genreMovies">Genre Movies</a>
    </body>
    
    
    
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            Top 10 movies by revenue!
        </p>
    </h1>
    <body>
        <a href="top10">Top 10</a>
    </body>
    
    
    
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            Display Movie Info
        </p>
    </h1>
    
    <body>
        <a href="movieInfo">Movie Info</a>
    </body>
    
    
    <h1 style="background-color: rgb(11, 48, 73);">
        <p style="color: white;">
            Display Cast Info
        </p>
    </h1>
    <body>
        <a href="castInfo">Cast Info</a>
    </body>
    
</body>
